[Unit]
Description=SolarWatch Flask Server
After=network.target

[Service]
Type=simple
User=soren
WorkingDirectory=/home/soren/solarwatch
ExecStart=/home/soren/solarwatch/venv/bin/python server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
